.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: 'white';
  justify-content: center;

}

header {
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 80px;
  padding: 0 80px;
  background-color: #FFD4D4;
  box-shadow: 0px 2px 12px 0px rgba(255, 79, 79, 0.25);
}

@media screen and (max-width: 600px) {
  header {
    padding: 0 40px;
  }
}

@media screen and (min-width: 1000px) {
  header {
    padding: 0 120px;
  }
}

header button {
  padding: 12px 16px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.40);

  color: #282828;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}


h2 {
  color: #BE4747;
  font-size: 14px;
  margin-left: 12%;
  font-family: Poppins;
  font-weight: 700;
}

.image {
  width: 95px;
  height: 123px;
  position: absolute;
}

.linha {
  width: 216px;
  height: 0px;
  border: 1px #BE4747 solid;
  margin: auto;
  margin-top: 10%;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 140px;
  margin-bottom: 80px;
}

.cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  box-sizing: border-box;
  padding: 0px 80px 0px 80px;
  
}

.card {
  background-color: #f39696;
  width: 267px;
  height: 402px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}

.card-top {
  width: 267px;
  height: 67px;
  border-radius: 16px 16px 0 0;
  background-color: rgba(195, 102, 102, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 18px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.card>img {
  width: 267px;
  height: 402px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 16px;
}

.polaroid {
  width: 163px;
  height: 205px;
  background-color: #fff;
  padding: 10px 10px 40px 10px;
  z-index: 20;
  transform: rotate(4deg);
  position: relative;
}

.cat-picture {
  width: 143px;
  height: 155px;
  object-fit: cover;
}

.tape {
  position: absolute;
  top: -20px;
  left: -25px;
}

.gender {
  width: 89px;
  height: 28px;
  border-radius: 100px 0 0 100px;
  background-color: #C36666;
  position: absolute;
  right: 0;
  top: 250px;
  z-index: 20;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
  font-size: 13px;
}

.age {
  width: 97px;
  height: 28px;
  border-radius: 100px 0 0 100px;
  background-color: #C36666;
  position: absolute;
  right: 0;
  top: 290px;
  z-index: 20;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
  font-size: 13px;
}

.info {
  width: 185px;
  height: 45px;
  border-radius: 8px;
  position: absolute;
  bottom: 30px;
  left: calc(50% - 92.5px);
  border: none;
  background-color: #FFEF61;
  color: #a24a4a;
  font-size: 14px;
  font-weight: 700;
  box-shadow: 0 3px 4px #333;
  transition: all 0.1s ease;
  cursor: pointer;
}

.info:active {
  box-shadow: 0 1px 4px #333;
  transform: translateY(2px);
}

p {
  color: #282828;
  font-family: Mali;
  font-size: 32px;
  font-weight: 700;
}

h1 {
  color: #282828;
  font-family: Mali;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 40px;
}

* {
  font-family: poppins;
  box-sizing: border-box;
}